
@import{ "typo/Peace Sans." 

}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #1d241f4f;
    border-radius: .3rem;
}
header {
    background-color:#03A6A6;
    position: fixed;
    width: 100%;
    height: 600px;
 
}
a {
    color: #212529;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Mali', cursive;
}
#Buscador {
  background: red
  width: 200px;
  border-bottom: solid 1px #ccc;
  outline: none;
  border-radius: 6px
}


